@model Movie

@{
    ViewData["Title"] = "Details of Movies";
}
<link href="~/sass/movieViewDetail.min.css" rel="stylesheet" />
<div class="movie_card" id="bright">
    <div class="info_section">
        <div class="movie_header">
            <img class="locandina" src="@Model.ImageURL" style="height: 200px;"/>
            <h1>@Model.Name<span class="type"><h6>@Model.MovieCategory</h6></span></h1>
            @*<h4>2017, David Ayer</h4>*@
            <span class="minutes">
                <img class="sinemaLogo" src="@Model.Cinema.Logo" /><a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.CinemaId"> @Model.Cinema.Name</a>
            </span>
            <div class="column1">

                <p>Başlangıç Tarihi: @Model.StartDate.ToString("dd MMM yy")</p>
                <p>Bitiş Tarihi: @Model.EndDate.ToString("dd MMM yy")</p>

                @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                {
                    <span class="badge bg-success text-white">Available</span>
                }
                else if (DateTime.Now > Model.EndDate)
                {
                    <span class="badge bg-danger text-white">Expired</span>
                }
                else
                {
                    <span class="badge bg-primary text-white">Upcoming</span>
                }

            </div> <!-- end column1 -->
        </div>
        <div class="movie_desc">
            <p class="text">
                @Model.Description
            </p>
            <div class="avatars">
                @foreach (var actor in Model.Actors_Movies)
                {
                    <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId" data-tooltip="@actor.Actor.FullName" data-placement="top">
                        <img src="@actor.Actor.ProfilePictureURL" alt="avatar1" />
                    </a>

                    <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerId" class="ml-2" data-tooltip="@Model.Producer.FullName" data-placement="top">
                        <img src="@Model.Producer.ProfilePictureURL" alt="avatar2" />
                    </a>
                }
            </div> <!-- end avatars -->
            <div class="column3">
                <div class="float-right">
                    <p class="card-text">
                        <a class="btn btn-success text-white mt-3 @((DateTime.Now > Model.EndDate) ? "disabled" : "")"
                           asp-controller="Orders"
                           asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Sepete Ekle (Fiyat @Model.Price.ToString("c"))</a>

                        <a class="btn btn-outline-primary @*float-right*@ mt-3" asp-action="Index">Listeye Dön</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div><img class="blur_back detail_back" src="@Model.ImageURL"/></div>
</div>

