@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/sass/movieIndexStyle.min.css" rel="stylesheet" />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="movie_card" id="bright">
            <div class="info_section">
                <div class="movie_header">
                    <h1>@item.Name<span class="type"><h6>@item.MovieCategory</h6></span></h1>
                    <span class="minutes"><img class="sinemaLogo" src="@item.Cinema.Logo"/>@item.Cinema.Name</span>

                </div>
                <div class="movie_desc mt-2">
                    @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                    {
                        <span class="badge bg-success text-white">Available</span>
                    }
                    else if (DateTime.Now > item.EndDate)
                    {
                        <span class="badge bg-danger text-white">Expired</span>
                    }
                    else
                    {
                        <span class="badge bg-primary text-white">Upcoming</span>
                    }
                    <div class="card-text text">
                        <label>Başlangıç</label>
                        <span>@item.StartDate.ToString("dd MMM yy")</span>
                    </div>
                    <div class="card-text text">
                         <label>Bitiş</label>
                         <span>@item.EndDate.ToString("dd MMM yy")</span>
                    </div><!--date,time-->
                    <div class="info_section">
                         <p class="card-text text-center">
                               <a class="btn btn-primary mt-2 mb-2" type="button" asp-action="Details" asp-route-id="@item.Id">
                                  <i class="bi bi-eye-fill"></i> Show Details
                               </a>
                                <a class="btn btn-success text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")" type="button"
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart"
                               asp-route-id="@item.Id">
                                   <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
                                </a>
                         </p>
                    </div>
                </div>
            </div>
            <div><img class="blur_back bright_back" src="@item.ImageURL" /></div>
        </div>

    }
</div>

    @await Html.PartialAsync("_CreateItem", "Movies")
